argon2-cffi==20.1.0
boto3==1.17.76
cryptography==3.4.7
Django==3.2.2
django-cors-headers==3.7.0
django-filter==2.4.0
django-oauth-toolkit==1.5.0
django-pgcrypto-fields==2.6.0
django-rest-passwordreset==1.2.0
django-storages==1.11.1
djangorestframework==3.12.4
pandas==1.2.4
psycopg2-binary==2.8.6
