option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "website.settings"
    "PYTHONPATH": "/opt/python/current/app/Django:$PYTHONPATH"
    "ALLOWED_HOSTS": "*"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: Django/website/wsgi.py
    NumProcesses: 3
    NumThreads: 20
    StaticFiles: "/static/=django_test/static/"
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python Django/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
      command: "python Django/manage.py collectstatic --noinput"
      leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python Django/manage.py createsu"
    leader_only: true
  04_run_admin_commands:
    command: >
      source /opt/python/run/venv/bin/activate && 
      python Django/manage.py importRules && 
      python Django/manage.py generateCodeTable &&
      python Django/manage.py generateTreeCodeTable &&
      python Django/manage.py generateDaggerAsterisk &&
      python Django/manage.py setUseNumbers &&
      python Django/manage.py calcBlockUseNumbers 