<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Tree Example</title>

    <style>
	
	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
    </style>

  </head>

  <body>

<!-- load the d3.js library -->	
<script src="http://d3js.org/d3.v3.min.js"></script>
	
<script>

var treeData = [
  {
    "name": "Top Level",
    "parent": null,
    "children": [
      {
        "name": "Level 2: A",
        "parent": "Top Level"
      },
      {
          "name": "Level 2: C",
          "parent": "Top Level"
      },    
      {
        "name": "Level 2: B",
        "parent": "Top Level",
        "children":[
            {
            "name": "Son of A",
            "parent": "Level 2: B"
          },
          {
            "name": "Daughter of A",
            "parent": "Level 2: B"
          },
          {
              "name": "third",
              "parent": "Level 2: B"
          },
        ]
      }
    ]
  },
];

var treeData2 = [
  {
    "name": "Top Level2",
    "parent": null,
    "children": [
      {
        "name": "Level 2: A2",
        "parent": "Top Level2",
        "children": [
          {
            "name": "Son of A2",
            "parent": "Level 2: A2"
          },
          {
            "name": "Daughter of A2",
            "parent": "Level 2: A2"
          },
          {
              "name": "third2",
              "parent": "Level 2: A2"
          },
        ]
      },
      {
        "name": "Level 2: B2",
        "parent": "Top Level2"
      }
    ]
  },
];


var tree1 = [
  {
    "name": "A",
    "parent": null,
    "children": [
      {"name": "A01", "parent": "A"},
      {"name": "A02", "parent": "A", "children": [
                {"name": "A021", "parent": "A02"},
                {"name": "A022", "parent": "A02"},
                {"name": "A023", "parent": "A02"},
                {"name": "A024", "parent": "A02"},
                {"name": "A025", "parent": "A02"},
                ]},
      {"name": "A03", "parent": "A"}
    ]
  },
];

var tree2 = [
  {
    "name": "A02",
    "parent": null,
    "children": [
      {"name": "A021", "parent": "A02", "children":[
                {"name": "A0211", "parent": "A021"},
                {"name": "A0212", "parent": "A021"},
                {"name": "A0213", "parent": "A021"},
                ]},
      {"name": "A022", "parent": "A02"},
      {"name": "A023", "parent": "A02"},
      {"name": "A024", "parent": "A02"},
      {"name": "A025", "parent": "A02"},
    ]
  },
];

var tree3 = [
  {
    "name": "A02",
    "parent": null,
    "children": [
      {"name": "A021", "parent": "A02"},
      {"name": "A022", "parent": "A02"},
      {"name": "A023", "parent": "A02", "children":[
                {"name": "A0231", "parent": "A023"},
                {"name": "A0232", "parent": "A023"},
                {"name": "A0233", "parent": "A023"},
                ]},
      {"name": "A024", "parent": "A02"},
      {"name": "A025", "parent": "A02"},
    ]
  },
];

var tree4 = [
  {
    "name": "A02",
    "parent": null,
    "children": [
      {"name": "A021", "parent": "A02"},
      {"name": "A022", "parent": "A02"},
      {"name": "A023", "parent": "A02"},
      {"name": "A024", "parent": "A02", "children":[
                {"name": "A0241", "parent": "A024"},
                {"name": "A0242", "parent": "A024"},
                {"name": "A0243", "parent": "A024"},
                ]},
      {"name": "A025", "parent": "A02"},
    ]
  },
];

var selfnode = ""
var selfsiblings = []
// ************** Generate the tree diagram	 *****************
var margin = {top: 20, right: 120, bottom: 20, left: 120},
	width = 960 - margin.right - margin.left,
	height = 700 - margin.top - margin.bottom;

var border=1;
var bordercolor='black';
	
var i = 0,
	duration = 4500, // time to perform a bunch of things
	root;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
    .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var borderPath = svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", height + margin.top + margin.bottom)
       			.attr("width", width + margin.right + margin.left)
       			.style("stroke", bordercolor)
       			.style("fill", "none")
       			.style("stroke-width", border)
                   .attr("transform", "translate(" + "-" + margin.left + ", -" + margin.top + ")");

var borderPathInner = svg.append("rect")
       			.attr("x", margin.left)
       			.attr("y", margin.top)
       			.attr("height", height)
       			.attr("width", width)
       			.style("stroke", bordercolor)
       			.style("fill", "none")
       			.style("stroke-width", border)
                .attr("transform", "translate(" + "-" + margin.left + ", -" + margin.top + ")");
                   

root = tree2[0];
root.x0 = height / 2; // where nodes come from initially
root.y0 = 0; // where nodes come from initially
  
update(root);

d3.select(self.frameElement).style("height", "500px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse()
	  links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; }); // set the depth between levels (horizontal length of links)

  // Update the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; }) // this is where the new nodes come from
	  .on("click", click);

  nodeEnter.append("circle")
	  .attr("r", 1e-6) // radius of circles as they start to transition to where they belong/proper size
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -30 : 30; }) // how far to the side the text is
	  .attr("dy", ".85em") // how far below the nodes the text is
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.name; }) // text is name of node
	  .style("fill-opacity", 1e-6); // how opaque the nodes start








    var before = 0;
    var after = 0;
    if(source.parent != null){
        for(i=0; i < source.parent.children.length; i++){
            if(source.parent.children[i].name < selfnode){
                before++;
            }
            else if(source.parent.children[i].name > selfnode){
                after++;
            }
        }
    }
    else{
        for(i=0; i < source.children.length; i++){
            if(source.children[i].name < selfnode){
                before++;
            }
            else if(source.children[i].name > selfnode){
                after++;
            }
        }
    }

    childrenCount = source.children.length

    var spacing = height/2/(Math.max(before,after)+1)
    var beforeCounter = 0;
    var afterCounter = 0;
  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { 
          console.log(d.name)
          if(!d.parent){
              return "translate(" + 0 + "," + height/2 + ")"; // putting parent node to left and center
          }
          else if(d.name == selfnode){
              return "translate(" + 180 + "," + height/2 + ")"; // putting self node to center
          }
          else if(d.name.length == selfnode.length){ // siblings
              if(d.name < selfnode){
                  var xCoord = height/2 - ++beforeCounter*spacing
                  return "translate(" + 180 + "," + xCoord + ")";
              }
              else {
                  var xCoord = height/2 + after--*spacing
                  return "translate(" + 180 + "," + xCoord + ")";
              }
          }
          else{
              var xCoord = d.x + d.parent.x0
              console.log("parent x0 " + d.parent.x0)
              console.log("d.x " + d.x)
              return "translate(" + 360 + "," + xCoord + ")"; 
          }
          });

    





  nodeUpdate.select("circle")
	  .attr("r", 25) // final radius of circles 
	  .style("fill", function(d) { 
          if(d.name == selfnode) { // colour the node if it is the selfnode
            return "lightsteelblue";
          } 
        }); // color of node when it's children are collapsed
      // remove the _ to colour all nodes which have children

  nodeUpdate.select("text")
	  .style("fill-opacity", 1); // final fill opacity of text 

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { 
          if(source.parent){
            return "translate(" + source.parent.y + "," + source.parent.x + ")"; 
          }
          else{
              return "translate(" + source.y + "," + source.x + ")";
          }
        })
	  .remove();

  nodeExit.select("circle")
	  .attr("r", 1e-6); // radius that nodes go to when disappearing

  nodeExit.select("text")
	  .style("fill-opacity", 1e-6); // makes text become opaque as nodes are collapsed


  // Update the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) {return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
		var o = {x: source.x0, y: source.y0};
		return diagonal({source: o, target: o});
	  });

  // Transition links to their new position.
  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
          if(source.parent){
             var o = {x: source.parent.x, y: source.parent.y};
		     return diagonal({source: o, target: o});
          }
          else{
            var o = {x: source.x, y: source.y};
		    return diagonal({source: o, target: o});
          }

		
	  })
	  .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
	d.x0 = d.x;
	d.y0 = d.y;
  });
}

// Toggle children on click.
/*
function click(d) {
    console.log(d)
  if (d.children) {
	d._children = d.children;
	d.children = null;
  } else {
	d.children = d._children;
	d._children = null;
  }
  update(d);
}
*/

function click(d) {
    selfnode = d.name;
    console.log(d)
    if (d.name == "A02") {
        root = tree1[0];
    }
    else if (d.name == "A021"){
        root = tree2[0];
    }
    else if (d.name == "A023"){
        root = tree3[0];
    }
    else if (d.name == "A024"){
        root = tree4[0];
    }
    update(d);
}

</script>
	
  </body>
</html>